.aboutx7 {
  width: 100%;
  height: 700px;
  background-image: url(https://www.bmw.ru/content/dam/bmw/common/all-models/x-series/x7/2022/highlights/bmw-x-series-x7-sp-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1645602650007.jpg);
}
